<!-- Page Header Begins -->

<div id="page-header">
    <div class="header-bg-parallax">
        <div class="overlay">
            <div class="container text-center">
                <div class="header-description">
                    <h1>Staff Login</h1>
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="#">home</a>
                            </li>
                            <li>
                                <a href="#" class="active">Staff Login</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /header-small-nav -->
                </div>
                <!-- /header-description -->
            </div>
            <!-- /container -->
        </div>
        <!-- /overlay -->
    </div>
    <!-- /header-bg-parallax -->
</div>

<!-- Page Header End -->
<!-- Contact Form Begin -->

<div class="contact">
    <div class="container text-center padding-top-100 padding-bottom-75">
        
        <h2>Staff Login</h2>
      
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form action="contact.php" method="POST" id="contact-form" class="contact-form padding-top-50 margin-bottom-15">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group text-left">
                                <label for="contact-email">Email</label>
                                <input type="email" name="email" id="contact-email" class="form-control" placeholder="Email" required>
                            </div>
                            <!-- /form-group -->
                        </div>
                        <!-- /column -->

                       
                        <!-- /column -->

                     
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group text-left">
                                    <label for="contact-email">Password</label>
                                    <input type="email" name="email" id="contact-email" class="form-control" placeholder="Password" required>
                                </div>
                                <!-- /form-group -->
                            </div>
                            <!-- /form-group -->
                            <button type="submit" class="btn-form margin-top-25">Login</button>
                            <!-- /button -->
                            <div id="ajax-message" class="margin-top-30"></div>
                            <!-- /ajax-message -->
                      
                        <!-- /column -->
                    </div>
                    <!-- /row -->
                </form>
                <!-- /form -->
            </div>
            <!-- /column -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<!-- Contact Form End -->