  <!-- Page Header Begins -->

<div id="page-header">
    <div class="header-bg-parallax">
        <div class="overlay">
            <div class="container text-center">
                <div class="header-description">
                    <h1>Shop</h1>
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="#">home</a>
                            </li>
                            <li>
                                <a href="#">shop</a>
                            </li>
                            @*<li>
                                <a href="#" class="active">mens</a>
                            </li>*@
                        </ul>
                    </div>
                    <!-- /header-small-nav -->
                </div>
                <!-- /header-description -->
            </div>
            <!-- /container -->
        </div>
        <!-- /overlay -->
    </div>
    <!-- /header-bg-parallax -->
    <div class="product-filter">
        <div class="container">
            <div class="col-md-12">
                <div class="filter-content padding-horizontal-25">
                    <span>Showing 1–12 of 28 results</span>
                    <ol>
                        <li>
                            <div class="form-group">
                                <select name="p_size" id="p_size" class="form-control">
                                    <option value="">Any Size</option>
                                    <option value="">XL</option>
                                    <option value="">L</option>
                                    <option value="">M</option>
                                    <option value="">S</option>
                                </select>
                            </div>
                            <!-- /form-group -->
                        </li>

                        <li>
                            <div class="form-group">
                                <select name="p_color" id="p_color" class="form-control">
                                    <option value="">Any Color</option>
                                    <option value="">Red</option>
                                    <option value="">Blue</option>
                                    <option value="">Yellow</option>
                                    <option value="">Green</option>
                                </select>
                            </div>
                            <!-- /form-group -->
                        </li>

                        <li>
                            <div class="form-group">
                                <select name="p_price" id="p_price" class="form-control">
                                    <option value="">Price</option>
                                    <option value="">$10-$20</option>
                                    <option value="">$20-$40</option>
                                    <option value="">$40-$60</option>
                                    <option value="">$60-$80</option>
                                </select>
                            </div>
                            <!-- /form-group -->
                        </li>

                        <li>
                            <div class="form-group">
                                <select name="p_defaultsorting" id="p_defaultsorting" class="form-control">
                                    <option value="">Default Sorting</option>
                                    <option value="">XL-Red-$20</option>
                                    <option value="">L-BLue-$40</option>
                                    <option value="">M-Yellow-$60</option>
                                    <option value="">S-Green-$80</option>
                                </select>
                            </div>
                            <!-- /form-group -->
                        </li>
                    </ol>
                </div>
                <!-- /filter-content -->
            </div>
            <!-- /column -->
        </div>
        <!-- /container -->
    </div>
    <!-- /product-filter -->
</div>

<!-- Page Header End -->
<!-- Product Item List Begin -->

<div class="product-item-list">
    <div class="container-fluid padding-vertical-100 text-center">
        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                        <del><i class="fa fa-gbp"></i>130.00</del>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                        <del><i class="fa fa-gbp"></i>130.00</del>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                        <del><i class="fa fa-gbp"></i>130.00</del>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->

        <div class="products-full">
            <div class="product-item padding-bottom-50">
                <div class="product-image">
                    <img src="http://placehold.it/242x314" alt="">
                    <div class="product_overlay">
                        <div class="product-cart">
                            <a href="#">
                                <p>+ Add to card</p>
                            </a>
                            <div class="product-icons">
                                <ul>
                                    <li>
                                        <a href="#" title="favourite"><i class="icon_heart_alt"></i></a>
                                    </li>
                                    <li class="icon-bg-color">
                                        <a href="#" title="compare"><i class="fa fa-sliders"></i></a>
                                    </li>
                                    <li>
                                        <a href="product-quick-view.html" class="product-quick-view" title="quickview"><i class="arrow_condense"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /product-icons -->
                        </div>
                        <!-- /product-cart -->
                    </div>
                    <!-- /product_overlay -->
                </div>
                <!-- /product-image -->
                <div class="product-short-detail padding-top-20">
                    <div class="product-rate">
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt"></i>
                        <i class="icon_star_alt not-rated"></i>
                    </div>
                    <!-- /product-rate -->
                    <div class="product-title">
                        <p>
                            <a href="#">Black Cotton Leggings</a>
                        </p>
                    </div>
                    <!-- /product-title -->
                    <div class="product-price">
                        <p><i class="fa fa-gbp"></i>160.00</p>
                    </div>
                    <!-- /product-price -->
                </div>
                <!-- /product-short-detail -->
            </div>
            <!-- /product-item -->
        </div>
        <!-- /products-full -->


        <div class="pagination padding-top-50">
            <ul>
                <li>
                    <a href="">01</a>
                </li>
                <li class="active">
                    <a href="">02</a>
                </li>
                <li class="no-active">...</li>
                <li>
                    <a href="">03</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-angle-double-right"></i></a>
                </li>
            </ul>
        </div>
        <!-- /pagination -->
    </div>
    <!-- /container -->
</div>

<!-- Product Item List End -->